version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"  # Map host port 5001 to container port 5000 to avoid conflicts
    volumes:
      - ./backend:/app
    environment:
      - FLASK_ENV=development
    networks:
      - fullstack

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - REACT_APP_API_URL=http://localhost:5001/api/search
      - CHOKIDAR_USEPOLLING=true
    networks:
      - fullstack


networks:
  fullstack:
